{{> nav}}

<!-- Merch -->
<div class="top-bar">
    <h1>All Merch</h1>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="card-deck">
            {{# each products }}
            {{# each this }}
            <!-- single work -->
            {{!-- <div class="col-sm">
                <a href="/merch/{{ this._id }}" class="portfolio_item">
                    <img src={{ this.thumbnail }} alt="image" />
                    <div class="portfolio_item_hover">
                        <div class="portfolio-border clearfix">
                            <div class="item_info">
                                <span>{{ this.productName }}</span>
                                <em>View Item</em>
                            </div>
                        </div>
                    </div>
                </a>
            </div> --}}
            <div class="card mb-4" style="">
                <a href="/merch/{{ this._id }}" class="portfolio_item">
                    <img class="card-img-top" src={{ this.thumbnail }} alt="product image">
                    <div class="card-body">
                        <h3 class="card-title">{{ this.productName }}</h3>
                        <p class="card-text">Price: ${{ this.price }}.00</p>
                    </div>
                </a>
            </div>
            <!-- end single work -->
            {{/each}}
            {{/each}}
        </div>
    </div>
</div>