{{> nav}}

<div class="container">
    <!-- top-bar -->
    <div class="top-bar">
        <h1>{{ product.productName }}</h1>
        <p><a href="/">Home</a> / <a href="/merch">merch</a> / {{ product.productName }}</p>
    </div>
    <!-- end top-bar -->

    <!-- product snipet start -->
    <div class="container">
        <div class="row ">
            <div class="col-lg-8">
                <div class="detail-card">
                    <div class="demo">
                        <ul id="lightSlider">

                            {{#each product.imageRoutes}}
                            <li data-thumb={{ this }}> <img class="card-img-top" src={{ this }} /> </li>
                            {{/each}}

                        </ul>
                    </div>
                </div>
                <div class="h-30"></div>
            </div>
            <div class="col-lg-4">
                <div class="detail-card">
                    <div class="about">
                        <h3 class="text-uppercase">{{ product.productName }}</h3>
                        <h5>{{ product.productQuote }}</h5>
                        <h3 class="text-uppercase">$ {{ product.price }}.00</h3>
                        <div class="h-30"></div>
                    </div>
                    <button type="button" onclick="location.href='/add-to-cart/{{ product._id }}';" class="btn btn-outline-secondary btn-lg">Add to Cart</button>
                    <div class="h-10"></div>
                    <button type="button" class="btn btn-success btn-lg">Buy it Now</button>

                    <hr>
                    <div class="product-description">
                        <div class=""> <span class="font-weight-bold">Description</span>
                            <p>{{ product.productDescription }}
                            </p>
                            <div class="bullets">
                                <ul class="cat-ul">
                                    <li><i class="ion-ios-circle-filled"></i> 100% cotton</li>
                                    <li><i class="ion-ios-circle-filled"></i> High quality fabric</li>
                                    <li><i class="ion-ios-circle-filled"></i> Fade resistant design</li>
                                    <li><i class="ion-ios-circle-filled"></i> Fitted feel</li>
                                </ul>
                                <div class="h-10"></div>
                            </div>
                        </div>
                    </div>
                    <!-- product snippet end -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script>
    $('#lightSlider').lightSlider({
        gallery: true,
        autoWidth: false,
        item: 1,
        loop: true,
        slideMargin: 0,
        thumbItem: 6
    });
</script>
<br /><br />